CTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Cat</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/cats/{id}(id=${cat.getId()})}">
  <label for="name">Enter name: </label>
  <input type="text" th:field="*{name}"  id="name"/>
  <br/>
  <label for="birthDate">Enter birth of date: </label>
  <input type="text" th:field="*{birthDate}" th:value="${cat.getBirthDate()}"id="birthDate"/>
  <br/>
  <label for="breed">Enter breed: </label>
  <input type="text" th:field="*{breed}" th:value="${cat.getBreed()}" id="breed"/>
  <br/>
  <label for="color">Enter color: </label>
  <input type="text" th:field="*{color}" th:value="${cat.getColor()}" id="color"/>
  <br/>
  <label for="owner">Enter ownerId: </label>
  <input type="text" th:field="*{ownerId}" th:value="${cat.getOwnerId()}" id="owner"/>
  <br/>
  <input type="submit" value="Edit">
</form>
</body>
</html>