<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Cat</title>
</head>
<body>
  <form th:method="POST" th:action="@{/cats}" th:object="${cat}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="birthDate">Enter birth of date: </label>
    <input type="text" th:field="*{birthDate}" id="birthDate"/>
    <br/>
    <label for="breed">Enter breed: </label>
    <input type="text" th:field="*{breed}" id="breed"/>
    <br/>
    <label for="color">Enter color: </label>
    <input type="text" th:field="*{color}" id="color"/>
    <br/>
    <label for="owner">Enter ownerId: </label>
    <input type="text" th:field="*{ownerId}" id="owner"/>
    <br/>
    <input type="submit" value="Create!"/>
    </form>
</body>
</html>