<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Owner</title>
</head>
<body>

<!--/*@thymesVar id="owner" type="ru.itmo.nfomkin.entity.Owner"*/-->
<form th:method="POST" th:action="@{/owners}" th:object="${owner}">
<label for="name">Enter name: </label>
<input type="text" th:field="*{name}" id="name"/>
<br/>
<label for="birthDate">Enter your birth of date: </label>
<input type="date" th:field="*{birthDate}" id="birthDate"/>
<input type="submit" value="Create!"/>
</form>
</body>
</html>